.boardCont{
    padding-top: 20px;
    position: relative;
    width: 150%;
    margin-left: -25%;
    display: flex;
    justify-content: center;
}

.buttonCont{
    margin-bottom: 100px;
}

.canvas{
    border: 1px solid black;
    border-top-left-radius: 15px;
}